[Unit]
Description=navcoin-express
After=network.target
After=network-online.target
After=time-sync.target

[Service]
User=root
Type=simple
WorkingDirectory=/opt/navcoin-express/
ExecStart=/usr/bin/node ./bin/www
ExecStop=/bin/kill $MAINPID
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
