[Unit]
Description=navcoin-express
After=network.target
After=network-online.target
After=time-sync.target

[Service]
User=odroid
Type=simple
WorkingDirectory=/opt/navcoin-express/
ExecStart=/usr/bin/node ./bin/www
ExecStop=/bin/kill $MAINPID
TimeoutStopSec=300
StandardOutput=append:/var/log/navcoin-express.log
StandardError=append:/var/log/navcoin-express.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
